
header {
  font-variant: small-caps;
  font-weight: 600;
    text-align: center;
  
   
}

table {
    height:80vh;
    width:90vh;   
    font-weight: 800;
    text-align: center;
    font-variant: small-caps; 
    border-collapse: collapse;
}
td, tr {
    border:0.25em solid black;
    height:7vh;
    width:15vw;
    text-align: right;
}
thead,td  {
    text-align: center;
}
